.container{
    
    background-color: brown;
    color:white;
    max-width: 400px;
}

html, body {
    margin: 0;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent, white), url('/SOEN387_A1/img/image.jpg');
    
}


.navbar{
    background: brown;
    
    
}

.row {
    
   
    border-radius: 30px;
    box-shadow: 12px 12px 22px grey;

}



